@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
  /*font-family: 'EB Garamond', serif;*/
  font-family: 'Montserrat', sans-serif;
} 
body::before {
    display: block;
    content: '';
    height: 54px;
  }

.card-title{
  font-weight: bolder;
}
.card-text{
  font-size: 12px;
}
.border-orange{
  border-bottom: 3px solid #0c00b4;
}

.text-orange{
  color:rgb(255, 72, 0);
}